{
  "singleQuote": true,
  "trailingComma": "all",
  "overrides": [
    {
      "files": [
        "src/migrations/**/.*ts"
      ],
      "options": {
        "printWidth": 500,
        "tabWidth": 100
      }
    }
  ]
}